<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
	th:fragment="navigation">	
	<a class="my-0 mr-md-auto font-weight-normal navbar-brand" style="color: black" href="/"><h5>Supniverse</h5></a>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="/intro">저는요</a>
		<a class="p-2 text-dark" href="/article">My Story</a>
		<a class="p-2 text-dark" href="/qna">섭`s에게 물어보세요</a>
	</nav>
	
	<a th:unless="${session.user}" class="btn btn-outline-primary" href="/users/login">Login</a>
	<a th:if="${session.user}" class="btn btn-outline-primary" href="/users/logout">LogOut</a>
	<a class="p-2 text-dark" th:if="${session.user}" th:text="${session.user.name} + 님	" th:href="@{'/users/' + ${session.user.id} + '/form'}"></a>
</div>
