<!DOCTYPE html>
<html>
<head th:replace="/include/header :: header">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="/include/navigation :: navigation"></div>
	<div class="container">
		<table class="table table-default">
			<thead>
				<tr>
					<th>번호</th>
					<th>글 제목</th>
					<th>작성자</th>
					<th>날짜</th>				
				</tr>				
			</thead>
			<tbody>
				<tr th:each="question : ${questions}">
					<td th:text="${question.id}">
					<td><a th:text="${question.title}" th:href="@{'/qna/'+${question.id}}"></a></td>
					<td th:text="${question.writer.name}">
					<td th:text="${question.createDate}">										
				</tr>
			</tbody>
		</table>
		<a href="/qna/form" class="btn btn-primary">글쓰기</a>
	</div>
</body>	
</html>