<!DOCTYPE html>
<html>
<head th:replace="/include/header :: header">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="/include/navigation :: navigation"></div>
		<div class="container">
			<form role="form" method="post">	
			<input type="hidden" name="id" th:value="${question.id}">
			</form>		
			<div class="table table-default">
				<div class="form-group">
					<label for="exampleInputEmail1">Title</label>
					<input type="text" name="title" class="form-control" th:value="${question.title}" readonly="readonly">
				</div>
				<div class="form-group">
					<label for="examplePassword1">Content</label>
					<textarea rows="3" class="form-control" name="content" th:field="${question.contents}" readonly="readonly"></textarea>
				</div>	
				<div class="form-group">
					<label for="exampleInputEmail1">Writer</label>
					<input type="text" name="writer" class="form-control" th:value="${question.writer.name}" readonly="readonly">
				</div>
			</div>
			
			<div class="box-footer">
				<button type="submit" class="btn btn-warning">Modify</button>
				<button type="submit" class="btn btn-danger">REMOVE</button>
				<button type="submit" class="btn btn-primary">LIST ALL</button>	
			</div>
		</div>
</body>

<script>
	$(document).ready(function() {
		var formObj = $("form[role='form']");
		
		console.log(formObj);
		
		$(".btn-warning").on("click", function() {
			formObj.attr("action","/qna/modify");
			formObj.attr("method","get");
			formObj.submit();
		});
		
		$(".btn-danger").on("click",function() {
			formObj.attr("action","/qna/remove");
			formObj.submit();
		});
		
		$(".btn-primary").on("click",function() {
			formObj.attr("action","/qna");
			self.location ="/qna";
		});	
	});
</script>	
</html>