<!DOCTYPE html>
<html>
<head th:replace="/include/header :: header">
</head>
 <body class="text-center" style="align-items: center; padding-top: 100px; padding-bottom: 40px; background-color: #f5f5f5; "> 	
    <form class="form-signin" style="width: 100%; max-width: 330px; padding: 15px; margin: auto" action="/users/login" method="post">
      <img class="mb-4" src="https://namufile.alphawiki.org/5f69d2510c75618b0bd0b4fc6ce8671ecaedf922.png"
      	 alt="" width="90" height="90">            
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputId" class="sr-only">ID</label>
      <input type="text" id="inputId" name="userId" class="form-control" placeholder="ID" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>      
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" style="margin-top: 10px"></input>
      <a class="btn btn-lg btn-primary btn-block" href="/users/signup">Sign up</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>        
  </body>  
</html>